<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.pethoalpar.androidtesstwoocr">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".MainApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".activity.SplashScreenActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.TesseractActivity" />

        <provider
            android:name=".activity.TesseractFileProvider"
            android:authorities="${applicationId}.androidtesstwoocr.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity android:name=".LoginActivity" />
        <activity android:name=".activity.GetData7_11Activity" />
        <activity android:name=".activity.GetData7Activity" />
        <activity android:name=".MainActivity" />
        <activity android:name=".activity.ResultActivity" />
        <activity android:name=".activity.GetTotalPriceActivity" />
        <activity android:name=".ToolbarActivity" />
        <activity android:name=".activity.SettingActivity" />
        <activity android:name=".activity.SelectReceiptFormActivity" />
        <activity android:name=".activity.ShowDataActivity" />
        <activity android:name=".activity.DetailItemsActivity" />
        <activity android:name=".MainApp" />
        <activity android:name=".activity.SignUpActivity" />
        <activity android:name=".activity.AbountAppActivity"></activity>
    </application>

</manifest>